*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #030e47;
    color: #fff;
}


.styled-hr {
    border: none;
    height: 2px;
    background-color: #1e90ff;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-thumb {
    background: #b5b5ba;

}

body::-webkit-scrollbar-track{
    background: #212121;
}

header nav {
    background-color: #00723f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav h1{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],button[type="submit"]{
    border: none;
    font-size: 18px;
    padding:10px;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #d33d02;
    color: #ffffff;
    cursor: pointer;
}

form button[type="submit"]:hover,.recipe button:hover{
    background-color: #ff2f00;
}


.intro {
    text-align: center;
    padding: 140px;
    background: url('https://images.unsplash.com/photo-1546069901-eacef0df6022?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080') center/cover no-repeat;
    color: #000000;
    background-blend-mode: overlay;
    font-size: 1.5em;
    margin-top: 80px;
    font-weight: 700;
}

.intro h1,
.intro p {
    position: relative;
    z-index: 2; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1); 
}



/* the main style started */
.recipe-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
    margin-top: 40px;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(78, 73, 73, 0.1),
                0px -5px -10px rgba(34, 23, 36, 0.5);
    cursor: pointer;
    max-width: 350px;
    margin-top: 80px;
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    margin: 5px 0;
    font-size: 20px;
}

.recipe p {
    font-size: 15px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button { 
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    background-color: #d33d02;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.recipe:hover{
    transform: scale(1.02);
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
}

/* recipe details */

.recipe-details {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 45%;
    height: 60%;
    background-color: #313131;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    border-radius: 10px;
}

.recipe-details::-webkit-scrollbar {
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb {
    background: #b5b5ba;
    border-radius: 30px;
    --webkit-border-radius: 30px;

}

.recipe-details-content {
    padding:30px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}


.ingredientList li {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}
.recipeName,
.ingredientList,
.recipeInstructions{
    margin-bottom: 30px;
}
.recipeCloseBtn {
    background-color: #d33d02;
    color: #ffffff;
    cursor: pointer;
    border:none;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}


.recipeCloseBtn:hover{
    background-color: #ff2f00;
}


/* indian food  */

.popular-indian-dishes  h2{
    margin-top: 45px;
    text-align: center;
    font-size: 24px;
    display: flex;
    margin-bottom: 30px;
}

.popular-indian-dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* .dish-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20;
}
.dish-info {
    background-color: #fff;
    color: #000;
    width: 22%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: max-content;
} */

.dish-cards {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Individual dish info card styling */
.dish-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 330px;
    height: 430px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: #000;
    margin-bottom: 20px;
    transition: transform 0.4s;
}

.dish-info:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.6);
}

.dish-info img {
    width: 100%;
    border-radius: 10px;
}

.dish-info h3 {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

.dish-info p {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

/* documentation part */


.doc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.doc-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    transition: transform 0.4s;
}

.doc-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.6);
}

.doc-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px; 
}
.mixed-documentation {
    padding: 10px;
    color: #000000;
    margin-top: 85px;
    cursor: pointer;
}

.mixed-documentation h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: -35px;
    margin-bottom: 30px;
    color: #fff;
}

.mixed-documentation h3 {
    margin-top: 20px;
    color: #000000;
}

.mixed-documentation p {
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.5;
}

.mixed-documentation a {
    color: #2980b9;
    text-decoration: none;
}

.mixed-documentation a:hover {
    text-decoration: underline;
}

/* ends */

/* footer */

.footer {
    margin-top: 80px;
    background-color: #161313; /* Dark background */
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin-bottom: 15px;
}

.footer h2 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 8px;
    font-size: 0.8em;
}
.footer img {
    width: 26px;
    height: 26px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 12px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 1em;
    margin-bottom: -20px;
}



/* footer end */
@media screen and (max-width:600px) {

    header nav{
        flex-direction: column;
    }
    header nav form {
        width: 80px;
    }

    .intro {
        padding: 80px 10px;
        font-size: 1.2em;
    }

    .intro h1 {
        font-size: 1.5rem;
        margin: 10px 0;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    }

    .intro p {
        font-size: 0.9rem;
        line-height: 1;
        margin: 5px 10px;
    }

    .intro {
        background: url('https://images.unsplash.com/photo-1546069901-eacef0df6022?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400') center/cover no-repeat;
    }



    .recipe-container h2 {
        font-size: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }

    .recipe {
        margin-left: 25px;
    }

    .recipe-container h2 {
        margin-right: 35px;
    }

    .recipe-details {
        width: 330px;
    }


    .racipeh3 {
        font-size: 20px;
    }

    .recipeInstructions h3 {
        font-size: 20px;
    }
    .recipeName {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    
    .ingredientList li {
        font-size: 16px;

    }
    
    .recipeInstructions p {
        font-size: 16px;
        white-space: pre-line;
    }
    .recipeName,
    .ingredientList,
    .recipeInstructions{
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {


    
    .recipe-container h2 {
        font-size: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }

    .recipe {
        margin-right: 50px;
    }

    .recipe-container h2 {
        margin-right: 35px;
    }

    .recipe-details {
        width: 330px;
    }


    .racipeh3 {
        font-size: 20px;
    }

    .recipeInstructions h3 {
        font-size: 20px;
    }
    .recipeName {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    
    .ingredientList li {
        font-size: 16px;

    }
    
    .recipeInstructions p {
        font-size: 16px;
        white-space: pre-line;
    }
    .recipeName,
    .ingredientList,
    .recipeInstructions{
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .intro {
        padding: 80px 10px;
        font-size: 1.2em;
    }

    .intro h1 {
        font-size: 1.5rem;
        margin: 10px 0;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    }

    .intro p {
        font-size: 0.9rem;
        line-height: 1;
        margin: 5px 10px;
    }

    .intro {
        background: url('https://images.unsplash.com/photo-1546069901-eacef0df6022?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400') center/cover no-repeat;
    }

    
    .mixed-documentation {
        width: 320px;
        margin-left: 22px;
    }


    .mixed-documentation h2 {
        font-size: 18px;
        margin-top: -90px;
    }

    .mixed-documentation h3 {
        font-size: 15px;
    }

    .mixed-documentation p {
        font-size: 13px;
    }

    .recipe-container h2 {
        font-size: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }

    .recipe {
        margin-right: 75px;
    }

    .recipe-container h2 {
        margin-right: 35px;
    }

    .recipe-details {
        width: 330px;
    }


    .racipeh3 {
        font-size: 20px;
    }

    .recipeInstructions h3 {
        font-size: 20px;
    }
    .recipeName {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    
    .ingredientList li {
        font-size: 16px;

    }
    
    .recipeInstructions p {
        font-size: 16px;
        white-space: pre-line;
    }
    .recipeName,
    .ingredientList,
    .recipeInstructions{
        margin-bottom: 10px;
    }

    .doc-card {
        padding: 20px;
        width: 300px;
    }

    .popular-indian-dishes h2 {
        margin-top: -5px;
        margin-bottom: 40px;
        font-size: 17px;
    }


    .dish-info {
        width: 280px;
        height: 380px;
        padding: 7px;
    }
    .dish-info p{
        font-size: 13px;
    }
    .dish-info h3 {
        font-size: 16px;
    }


    .footer-content h2 {
        font-size: 20px;
    }

    .footer-bottom p{
        font-size: 12px;
    }

}

@media (min-width: 366px) and (max-width: 399px) {


    .doc-card {
        margin-left: 20px;
    }

    .recipe {
        margin-left: 50px;
    }
}
